*{
    margin: 0;
    padding: 0;

     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(240, 235, 232) ;
    overflow-x: hidden !important;
}

:root { 
  --shadow: rgba(45, 105, 92, 0.6);
  --scrollbarBG: rgba(204, 204, 204, 0.7);
  --thumbBG: rgb(53, 170, 131);
  
}

::-webkit-scrollbar {
  width: .7em;
}

::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  box-shadow: 0 -100vh 0 99vh var(--shadow), 0px 0 20px 3px rgb(116, 116, 116);
  border-radius: 5px;
}

* {
  margin:0;
  padding:0;
}

html {
  scroll-behavior: smooth;
}


.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  color:#1f1f1f;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;

  font-size: 2rem;
  font-weight: bold;

  text-align: center;
  border: rgb(138, 98, 98) 2px solid;
  background-color: rgba(255, 247, 240, 1);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a svg{
  width: 50%;
  height: 50%;
  color: rgb(100, 0, 0);
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
  z-index: 5;
}

.background1 {
  position: absolute;
  opacity: 0.13;
  top: -200px;
  width: 1485px;
  z-index: -100;
}

header{
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    align-items:center;
    width: 1425px;
    margin: auto;
}

header svg{
  z-index: 999;
  margin-right: 10%;
  color: rgb(44, 41, 41);
  display: none;
}

.sidebar{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 60%;
  z-index: 999;
  color: rgb(44, 41, 41);
  box-shadow: -10px 0 10px rgba(0,0,0, 0.1);

  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: rgba(0, 0, 0, 0.1) -2px 1px 3px, rgba(0, 0, 0, 0.2) -1px 1px 2px;
}

header svg:hover{
  color: rgb(241, 234, 234);
  cursor: pointer;
}

.sidebar a{
  width: 100%;

  font-size: 1rem;
  font-family: "Poppins";
 
  padding: 12px;
  padding-left: 25px;
  color: rgb(71, 57, 57);
  text-decoration: none;
}

.sidebar div{
  width: 75%;
  height: 1px;
  background-color: rgba(95, 76, 76, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  margin-top: 3%;
}

.sidebar svg{
  padding: 12px;
  padding-left: 25px;
}

.sidebar a:hover{
  background-color: rgba(0, 0, 0, .1);
}

.header-gradient{
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0, .1);
  height: 75px;
  z-index: 0;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px, rgba(0, 0, 0, 0.2) 0px 1px 2px;
}

.home{
    font-size: 1.4rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 800;

    z-index: 1;
    height: 75px;

    display: flex;
    justify-content: center;
    align-items: center;
  
}

.home a{
    text-decoration: none;
    color: rgb(53, 48, 48);
    
}

.rfa{
    height: 60px;
}

.home span{
  color: rgb(117, 0, 0);
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}


nav li{
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a{
    height: 100%;
    padding: 0 25px;
    text-decoration: none;
    display: flex;
    align-items: center;

    font-size: 1rem;
    font-family: "Poppins";
    font-weight: 1000;

    color: rgb(71, 57, 57);
    text-decoration: none;
}

nav ul li:hover::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  display: block;
  position: absolute;
  background-color: rgb(160, 0, 0);
  bottom: 0px;
  right: 46%;
  -webkit-animation: scale 0.35s ease-in-out;
}

nav ul li:nth-child(1){
    font-size: 1.6rem;
}

@keyframes scale {
    from {
      transform: scale(0%);
    }
    to {
      transform: scale(100%);
    }
}

.landing{
  height: 92vh;
  min-height: 500px;
  width: 1425px;

  margin: auto;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.bpsubgwrapper{
  position: absolute;

  overflow: hidden !important;
  width: 100%;
  height: 100%;
}

.bpsubg{
  position: absolute;
  width: 100%;
  min-width: 100vh;
  filter: brightness(65%);
  height: 100%;
  opacity: .3;
  z-index: -1;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.landing-context{
  position: relative;
  top: -5%;
  width: 50%;
  padding-right: 10%;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  color: #3b3b3b;

}

.landing-context span {
  color: rgb(160, 0, 0);
  line-height: 45px;
  
}

.landing-context h3{
  margin-top: 50px;
  line-height: 200%;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #505050;   
  text-align: justify;
}


.logos{
  position: relative;
  top: -5%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.logos img{
 position: relative;
 width: 100%;

 opacity: .8;
}

.isocol{
  display: none;
}


.projects {
    position: relative;
    z-index: 2;
  
    display: flex;
    flex-direction: column;
  
    margin:auto;
    margin-top: 250px;
   
    width: 1580px;
  
    background-image: linear-gradient(to bottom, rgb(255, 245, 240), transparent);

    border-radius: 9px;
  }

  .step1{
    margin-top: 150px;
  }
  
  .projects-context {

    position: relative;
    display: flex;
    flex-direction: column;
  
    min-height: 350px;
  
    justify-content: center;
    align-items: center;

  }
  
  .projects-context > h2 {
    position: relative;

    font-family: "Metamorphous", cursive;
    font-size: 4rem;
    color: rgba(73, 0, 0, 0.8);
    text-align: center;
  }
  
  .projects-context > p {
    text-align: center;
    position: relative;
  
    font-size: 1rem;
    font-family: "Poppins", cursive;
    font-weight: 400;
    letter-spacing: 5px;
    margin-top: 30px;
    color: #636363;
    width: 90%;
  }
  
  .projects-cards {

    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 580px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
  }
  
  .card:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 7px 40px 0px;
  }
  
  .card > div {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 175px;
  }
  
  .bg {
    position: absolute;
    width: 500px;
    top: -200px;
    opacity: 0.8;
    transform: rotate(90deg);
  }
  
  .card-main-pic {

    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../pictures/background2.png");
    clip-path: circle(35% at 50% 50%);
    transition: all 1s ease;
  }

  .card-main-pic img{
   height: 180px;
  }
  
  .card div div:nth-child(2):hover{
    clip-path: circle(100% at 50% 50%);
  }
  
  .card h2 {
    position: relative;
    margin: 5% 0 0 5%;
    font-family: "Zilla Slab Highlight";
    font-weight: 400;
    font-size: 1.75rem;
    color: rgb(177, 85, 85);
   
    line-height: 45px;
    /*  color: rgb(245, 200, 145); */
  }
  
  .card h2::after {
    margin-top: 10px;
    content: "";
    background-color: rgb(194, 194, 194);
    width: 25%;
    display: block;
    height: 0.5px;
  }
  
  .card p {
    text-align: justify;
    margin: 7% 5% 0 5%;
    font-family: "Poppins";
    font-weight: 400;
    color: #6e6e6e;
    font-size: 1rem;
    line-height: 1.85;
  }

  .step1::after{
    position: absolute;
    content: "1";

    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Poppins", serif;
    width: 45px;

    text-align: center;

    border: rgb(138, 98, 98) 3px solid;
    border-radius: 50%;
   
    color: rgb(145, 59, 59);
    
    top: -100px;

    left: 48%;

    background-color: rgba(255, 247, 240, 1);

    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

    -webkit-animation: scale 0.2s ease-in-out;
  }

  .step2::after{
    position: absolute;
    content: "2";

    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Poppins", serif;
    width: 45px;
   
    text-align: center;

    border: rgb(138, 98, 98) 3px solid;
    border-radius: 50%;
   
    color: rgb(145, 59, 59);

    left: 48%;
    top: -100px;

    background-color: rgba(255, 247, 240, 1);
    /* #e84d69 */
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    -webkit-animation: scale 0.2s ease-in-out;
  }

  .step3::after{
    position: absolute;
    content: "3";

    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Poppins", serif;
    width: 45px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

    text-align: center;

    border: rgb(138, 98, 98) 3px solid;
    border-radius: 50%;
   
    color: rgb(145, 59, 59);
    left: 48%;
    top: -100px;

    background-color: rgba(255, 247, 240, 1);
    /* #e84d69 */

    -webkit-animation: scale 0.2s ease-in-out;
  }

  .line{
    background-color: rgba(75, 43, 43, 0.7);
    height: 300px;
    width: 2px;
  }

  .content1{
    font-family: "Tahoma", cursive;
    font-weight: 400;
    color: rgb(117, 54, 54);
    text-align: left;
    width: 380px;
    padding-right: 20px;
  }

  .content1 h3{
    margin-top: 30px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 1.1rem;
  }

  footer {
    position: relative;
    margin-top: 15%;
  
    width: 100%;
    min-height: 325px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgb(44, 44, 44);
    background-image: url("../pictures/18.png");
    background-size: contain;
    z-index: 2;
    overflow-x: hidden;
  }

  .projects .background1{
    opacity: .17;
    max-width: 90%;
  }
   
  .footer-wrapper {
    position: relative;
    display: flex;

    width: 100%;
    padding: 0% 10% 0% 10%;
  }
  
  .footer-wrapper h2 {
    position: relative;
    color: #faf3f3;
    font-weight: 900;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.3rem;
    margin-bottom: 40px;
  }
  
  .footer-wrapper h2::before {
    position: absolute;
    top: 6.5px;
    left: -20px;
    content: "";
    background-color: rgb(102, 102, 102);
    width: 2px;
    height: 50%;
  }
  
  .footer-wrapper > * {
    flex: 1;
  }
  
  .about,
  .contacts,
  .socials {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 15%;
  }

  .contacts li:last-child img{
    width: 12px;
    top: 0;
    margin-right: 15px;
  }
  
  .about p,
  .contacts p,
  .socials p {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: rgb(129, 129, 129);
    transition: all 0.5s ease;
  }
  
  footer a p:hover {
    color: #faf3f3;
  }
  
  .about p {
    position: relative;
    margin-right: 25%;
    line-height: 1.5;
  }
  
  .about p::before {
    content: "";
    width: 7px;
    height: 7px;
    background-color: #faf3f3;
    position: absolute;
    left: -22px;
    top: 5px;
    border-radius: 50%;
  }
  
  .contacts li,
  .socials li {
    position: relative;
    list-style: none;
  }
  
  .contacts li:not(:first-child),
  .socials li:not(:first-child) {
    margin-top: 20px;
  }
  
  .item-wrapper {
    position: relative;
    left: -25px;
    display: flex;
  }
  
  .item-wrapper img {
    position: relative;
    top: 5px;
    width: 16px;
    height: 100%;
    margin-right: 10px;
  }
  
  .socials li:nth-child(1) .item-wrapper img {
    width: 9px;
    margin-right: 16px;
    top: 0;
    left: 2px;
  }

  @media all and (max-width: 1600px) {
    header{
      width: 100%;

      padding: 0;
      border-radius: 0;
    }

    header nav{
      margin-right: 5%;
    }

    header .home{
      margin-left: 5%;
    }
  
    .projects{
      width: 100%;
      border-radius: 0;
    
    }

    .background1{
      width: 100%;
    }

    .landing{
      width: 90%;
    }

  }

  @media all and (max-width: 1024px){
    .home > :nth-child(2){
      display: none;
    }

    .home > :nth-child(3){
      display: inline-block!important;
    }

    .landing-context h1{
       font-size: 2.2rem !important;
  
    }

    .landing-context h3{
      font-size: 1.2rem !important;
    }

    .logos{
      width: 200px !important;
    }

    nav a{
      padding: 0 15;
      font-size: .9rem;
    }

    .projects::after{
      left: 47%;
    }
  }
  
  @media all and (max-width: 800px) {
    .step1 .projects-cards, .step2 .projects-cards{
      display: grid;
  
      grid-template-areas:
        "first"
        "second";
  
      justify-items: center;
      row-gap: 50px;
    }

    .step3 .projects-cards {
      grid-template-areas:
        "first"
        "second"
        "third " !important;
    }

    .content1{
      max-width: 700px;
      text-align: center;
      margin-left: 50px;
      margin-right: 50px;
      grid-area: first;
      font-size: .9rem;
      line-height: 1.5rem;
      display: none;
    }

    .content1 h3{
      text-align: justify;
      grid-area: second;
      font-size: 1rem;
    }

    .step1 .projects-context h2, .step2 .projects-context h2, .step3 .projects-context h2{
      font-size: 3.5rem;
    }

    .landing-context{
      width: 100%;
    }

    .logos{
      display: none;
    }

    .projects::after{
      left: 46%;
    }

    .footer-wrapper{
      flex-direction: column;
      padding: 10% 0 10% 0;

    }

    .about{
      margin-bottom: 15%;
    }

    .about p{
      margin-left: 20%;
      margin-right: 20%;
    }

    .contacts ul{
      display: flex;
      flex-direction: column;

      align-items: center;
    }

    .about, .contacts{
      text-align: center;
      align-items: center;
      left: 0;
    }
  }

  @media all and (max-width: 700px){
    .step1 .projects-context h2, .step2 .projects-context h2, .step3 .projects-context h2{
      font-size: 3rem;
    }

    nav{
      display: none;
    }

    header svg{
      display: inline-block;
    }
  }

  @media all and (max-width: 600px){
    /*.step1 .projects-context{
      margin-top: 25px;
    }

    .step1 .projects-context span:first-child{
      content: "\a";
      white-space: pre;
      display: block;
    }

    .step1 .projects-context span:nth-child(2){
      display: none;
    } */

    .step1 .projects-context h2, .step2 .projects-context h2, .step3 .projects-context h2{
      font-size: 2.5rem;
    }

    .projects::after{
      left: 45.5%;
    }
  }

  
  @media all and (max-width: 500px){
    .landing-context{
      text-align: center;
      padding-right: 0;
    }

    .landing-context h3{
      text-align: center;
      margin-top: 10% !important;
      padding-left: 2%;
      padding-right: 2%;
    }

    .projects::after{
      width: 9vw;
      font-size: 5.7vw;
      top: -16vw !important;
      left: 45%;
    }

    .to-top{
      scale: 1;
      width: 50px;
      height: 50px;
      right: 5% !important;
    }

    .projects-context{
      scale: 1;
      min-height: 50vw !important;
    }

    .projects-context h2{
      font-size: 7.2vw !important;
    }

    .projects-context p{
      font-size: 3.3vw !important;
    }

    .card{
      width: 90vw;
      height: 117.8vw;
    }

    .card > div, card > a{
      height: 35vw;
    }

    .card h2{
      font-size: 5.5vw;
      line-height: 9vw;
    }

    .card p{
      font-size: 3.3vw;
      line-height: 200%;
      text-align: justify;
    }

    .card-main-pic img{
      height: 36vw;
    }
  }

  @media all and (max-width: 415px){
    .landing-context{

      width: 100vw !important;
     
    }

    .landing-context h1{
      font-size: 8.5vw !important;
    }

    .landing-context h3{
      font-size: 4.5vw !important;
    }
  }

  @media all and (max-width: 1280px) {
    header{
      max-width: 100%;
      border-radius: 0;
    }
  
    .projects{
      width: 100%;
      border-radius: 0;
      margin-bottom: 0;
    }

    .projects-context{
      min-height: 250px;
    }

    .line{
      display: none;
    }

    .step1{
      margin-top: 150px;
    }
    
    .step2, .step3{
      margin-top: 175px;
    }

    .projects::after{
      scale: .9;
      top: -80;
    }

    .projects-context, .card{
      scale: .9;
    }

    .step1 .projects-cards, .step2 .projects-cards, .step3 .projects-cards {
      row-gap: 0px !important;
    }

    .to-top{
      scale: .9;
    
      right: 3%;
    }

    .to-top.active{
      bottom: 3%;
    }
  }

  @media all and (max-width: 1360px) {
    .step3 .projects-cards {
      display: grid;
  
      grid-template-areas:
        "first second"
        "third third";
  
      justify-items: center;
      row-gap: 6vh;
    }
  
    .step3 .card:nth-child(1) {
      grid-area: first;
    }
  
    .step3 .card:nth-child(2) {
      grid-area: second;
    }
  
    .step3 .card:nth-child(3) {
      grid-area: third;
    }
  
    .step3 .footer-wrapper {
      padding: 0% 0% 0% 0%;
      left: 10%;
    }

    .landing-context h1{
      font-size: 3rem;
    }

    .landing-context h3{
      font-size: 1.4rem;
    }

    .isorow{
      display: none;
    }

    .isocol{
      display: block;
   
    }

    .logos{
      width: 225px;
      margin: auto;
    }
  }

  @media all and (max-height: 800px){
    .landing-context h3{
      margin-top: 25px;
      font-size: 1.3rem;
    }

    .landing-context h1{
      font-size: 2.7rem;
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .ios.sidebar, .ios.header-gradient{
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }
  }

